<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DeliverySystem"
        tools:targetApi="31">
        <activity
            android:name=".Main"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.DeliverySystem">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".import_system.ImportTable" />
        <activity android:name=".import_system.ImportItem" />
        <activity android:name=".import_system.ImportMain" />

        <activity android:name=".inspect_system.InspectTable" />
        <activity android:name=".inspect_system.InspectMain" />
        <activity android:name=".inspect_system.InspectDetail" />

        <activity android:name=".setting_system.SettingMain" />
        <activity android:name=".setting_system.SettingSupplier" />
        <activity android:name=".setting_system.SettingEmployee" />
        <activity android:name=".setting_system.AddSupplier" />
        <activity android:name=".storage.StorageMain" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.deliverysystem.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>